<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.hekla.morning-briefing</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{HEKLA_INSTALL_PATH}}/scripts/morning-briefing.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>{{BRIEFING_HOUR}}</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>{{HEKLA_LOG_PATH}}/morning-briefing.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>{{HEKLA_LOG_PATH}}/morning-briefing.stderr.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>HEKLA_INSTALL_PATH</key>
        <string>{{HEKLA_INSTALL_PATH}}</string>
        <key>CUSTOMER_ID</key>
        <string>{{CUSTOMER_ID}}</string>
        <key>TIMEZONE</key>
        <string>{{TIMEZONE}}</string>
    </dict>
</dict>
</plist>
